.work-experience {
  padding: 2rem;
  color: white;
  align-items: center;
}

.work-experience h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.cards {
  display: flex;
  /* justify-content: space-around;
  flex-wrap: wrap; */
  flex-direction: column;
}

.card2 {
  background: linear-gradient(90deg, rgba(0, 197, 255, 1) 0%, rgba(56, 54, 216, 1) 100%);
  border-radius: 8px;
  padding: 1rem;
  min-width: 250px;
  margin: 1rem;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.card .title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.card .description {
  font-size: 0.9rem;
  color: white;
}
