body {
  margin: 0;
  padding: 0;
  /* background-color: #f5f3fa; */
  background-color: #f5f9fd;
  color: var(--text-color);
  font-family: 'Your-preferred-font', sans-serif;
}

.btn-primary {
  line-height: 45px;
  white-space: nowrap;
  color: white;
  padding: 10px 30px;
  border-radius: 45px;
  font-size: 17px;
  font-weight: 600;
  border: 0px solid #0d6efd;
  background: linear-gradient(90deg, rgba(0, 197, 255, 1) 0%, rgba(56, 54, 216, 1) 100%);
  transition: 0.3s;
}

.btn-primary:hover {
  background: linear-gradient(90deg, rgba(56, 54, 216, 1) 12%, rgba(0, 197, 255, 1) 100%);
}

/* Button base styling */
.link-buttons {
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  border: solid 1px blue;
  color: white;
  background-color: #1d4ed8;
  transition: background-color 0.3s ease;
}
.link-buttons:hover {
  background-color: #2592eb;
}
@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }
}
